@model IEnumerable<Garcom.Models.Place>

<ul class="places" id="list_of_places" data-uri="@Url.Action("ListOfPlaces", "places")">
    @foreach (var place in Model)
    {
        <li class="place">@place.Name</li>    
    }
</ul>