@model IEnumerable<Garcom.Models.Place>

@{
    ViewBag.Title = "All Places";
}

<span id="notice" class="notice">
    place created successfully
</span>

@Html.Partial("_listOfPlaces", Model)

<div id="add_new_place_form">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" /> 
    <input type="button" id="create_place_with_ajax" value="Add" data-uri="@Url.Action("CreateAjax", "places")" />
</div>
<script language="javascript" type="text/javascript">
    garcom.allPlaces.initialize();
</script>


