@{
    ViewBag.Title = "New Place";
}

<form action="@Url.Action("index", "places")" method="post">
    <input type="text" name="name" id="name" /> 
    <input type="submit" name="submit" id="submit" value="submit" />
</form>

